<p id="notice"><%= notice %></p>

<%= form_with(model: @url, local: true) do |form| %>
  <% if @url.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <p>Uh oh! Looks like you have <%= pluralize(@url.errors.count, "error") %>!
      <ul>
      <% @url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= form.text_field :long_url, class: 'col-lg-7' %>
    <%= form.submit "Shorten it!", class: 'col-lg-2 offset-md-1' %>
  </div>
<% end %>